body {
  font-size: 16px;
}

.summary {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.summary,
.details,
.monthly-details {
  width: 90vw;
  margin: auto;
}

.details__overall {
  width: 100%;
}

.summary__forms,
.summary__balances {
  margin: 2em;
}

.summary__balances th,
.summary__balances td,
.monthly-details__table td,
.monthly-details__table th {
  border-right: 1px solid rgba(0,0,0,.12);
}

.summary__balances td:last-child,
.monthly-expense-table td:last-child {
  font-family: monospace;
}

.summary__balances td:first-child,
.monthly-expense-table td:first-child {
  white-space: normal;
}

.monthly-expense-table {
  margin-top: 1em;
}

#expense-form, #transfer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

#authorize-button {
  display: none;
  margin: 5em auto;
  font-size: 1.5em;
}

#forms, #signout-button, #charts {
  display: none;
}

#loader {
  margin: auto;
}

.dropdown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  font-size: 14px;
}

.dropdown select {
  margin-left: 10px;
  flex-grow: 1;
  max-width: 50%;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  padding: 10px;
  background: #424242;
  color: #9e9e9e;
  font-weight: 300 !important;
  font-size: 12px;
  margin-top: 15px;
}

.footer a {
  color: white;
  font-size: 12px;
}

/* Material desing overrides */
.mdl-switch {
  width: auto;
}

.mdl-layout__header-row {
  padding-left: 20px;
}

.material-icons {
  font-size: 14px;
}

.mdl-layout__content {
  overflow-x: unset;
  overflow-y: unset;
}

.montly-details__title__small {
  font-size: 0.5em;
}

.monthly-details__charts {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.monthly-details__title {
  display: inline-block;
}

.monthly-details__charts div {
  width: 50%;
}

@media only screen and (max-device-width: 480px) {
  .monthly-details__charts div {
    width: 100%;
  }
}


.monthly-details__table {
  display: flex;
  justify-content: space-between;
}

.green {
  color: green;
}

.red {
  color: red;
}

.orange {
  color: orange;
}

#chartjs-tooltip {
  z-index: 1;
  background: #424242;
  color: white;
  border-radius: 4px;
}

#chartjs-tooltip th {
  border-bottom: solid 1px white;
}
