body {
  font-size: 16px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

#expense-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

button {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  padding: 0.25em 0.5em;
  font-size: 1.12em;
  background: transparent;
  border: solid 1px royalblue;
}

#authorize-button {
  margin: auto;
  font-size: 1.5em;
}

#signout-button {
  position: fixed;
  top: 0.5em;
  right: 0.5em;
}

input, select {
  margin-bottom: 0.5em;
  font-size: 1.5em;
  border: solid 1px royalblue;
  padding: 0.5em;
}

input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 0.5em;
}

label {
  font-size: 1.5em;
}
